name: Update Package
on:
  pull_request:
    types: [opened, synchronize]
    branches: [main]

jobs:
  update:
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.ref }}

      - name: Setup Arch Linux
        run: |
          pacman -Syu --noconfirm base-devel git

      - name: Find updated package
        run: |
          echo "pkgbuild=$(git diff --name-only origin/main origin/${GITHUB_HEAD_REF} "*PKGBUILD" | head -1 | xargs dirname)" >> $GITHUB_ENV

      - name: Update checksums and .SRCINFO
        if: ${{ env.pkgbuild != '' }}
        run: |
          cd "${{ env.pkgbuild }}"
          updpkgsums
          makepkg --printsrcinfo > .SRCINFO

      - name: Commit changes
        if: ${{ env.pkgbuild != '' }}
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          file_pattern: '*/PKGBUILD */.SRCINFO'
          commit_message: 'chore: update checksums and .SRCINFO'
